@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: #010615;
}
.box
{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;
}
img
{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    filter: blur(40px);
}
.box:nth-child(1):before,
.box:nth-child(1):after
{
background: linear-gradient(235deg,#89ff00,#010615,#00bc44);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(4):before,
.box:nth-child(4):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(5):before,
.box:nth-child(5):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box:nth-child(6):before,
.box:nth-child(6):after
{
background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.box .glass
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255,255,255,.1);
    pointer-events: none;
}
.box .content
{
 padding: 20px;
 color: #fff;   
}