{% extends "catalog/base_generic.html" %}
{% block content %}

<div class="col-sm-7 mx-5">
  <h2>All Books </h2> <hr/>
  
  {% if book_list %}
    {% for book in book_list %}
        <p class="text-info"><a href="{% url 'catalog:book-detail' book.id %}">{{ book.title }} ({{book.author}})</a> </p> <hr/>
      
        {% if perms.catalog.delete_book and perms.catalog.change_book %}
          <button class="btn btn-info btn-sm"><a href="{% url 'catalog:book_delete' book.id %}">Delete book</a>
          </button>
          <button class="btn btn-info btn-sm"><a href="{% url 'catalog:book_update' book.id %}">Update book</a>
          </button>
          <hr/>
        {% endif %}
        
    {% endfor %}
  
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}

</div>    

{% endblock %}