{% extends "catalog/base_generic.html" %}
{% block content %}

<div class="col-sm-7 mx-5">
  <h2>Genre List</h2> <hr/>
  {% if genre_list %}
    {% for genre in genre_list %}
      <p class="text-info"><a href="{% url 'catalog:genre-detail' genre.name %}">{{ genre }} </a> </p><hr/>
      {% if perms.catalog.delete_author and perms.catalog.change_author %}
        <button class="btn btn-info btn-sm"><a href="{% url 'catalog:genre_delete' genre.id %}">Delete genre</a></button>
        <button class="btn btn-info btn-sm"><a href="{% url 'catalog:genre_update' genre.id %}">Update genre</a></button>
        <hr/>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No Genre</p>
  {% endif %}  
</div>
     
{% endblock %}