body {
  background-color: #000;
  color: floralwhite;
}
.navbar-brand {
    color: #000 !important;
    font-weight: bold;
    opacity: 0.8;
}
.navbar-brand:hover {
    opacity: 1
}
.navbar-dark {
  background-color: #A6DBF5;
}
.nav-link {
  font-size: 20px;
  color: #000 !important;
}
.nav-link:hover {
    background-color: #000 !important;
    color: #A6DBF5 !important;
}
.dropdown-menu {
  background-color: #A6DBF5;
}
.dropdown-item:hover {
  background-color: #000;
  color: #A6DBF5;
  opacity: 1;
  font-weight: bold;
}
.navbar-toggler-icon {
    background-color: #000;
    border-radius: 5px;
}
