body.moving {
    cursor: move;
}

.roulette-table {
    margin: 40px;
    padding: 40px;
    display: table;
    float: right;
    position: relative;
    width: 775px;
    /*transform: rotate(90deg);
    margin:300px 0 0 -230px;*/
}

.roulette-table table {
    float: left;
}

.roulette-table table,
tr {
    border-collapse: collapse;
    /*border-spacing: 0;*/
}

.roulette-table td {
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid white;
    width: 50px;
    height: 46px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
    color: white;
    white-space: nowrap;
}

/* elements */
.roulette-table .sector {
    background: #1C7022;
    color: #8EB891;
}

.roulette-table .sector .vt {
    font-size: 15px;
}

.roulette-table .num {
    font-size: 22px;
}

.roulette-table .num span {
    display: block;
    transform: rotate(270deg);
}

.roulette-table .zero {
    width: 70px;
    font-size: 56px;
}

.roulette-table .empty {
    border: none;
}

/* colors */
.roulette-table .green {
    background: #1C7022;
    color: #8EB891;
}

.roulette-table .red {
    background: #A91607;
    color: #8EB891;
}

.roulette-table .black {
    background: #0E3811;
    color: #8EB891;
}

/* cells hovers */
.roulette-table .sector.hover,
.roulette-table .num.hover {
    font-size: 26px;
    -moz-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
    -webkit-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
    box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
}

.roulette-table .sector.hover .vt {
    font-size: 17px;
}

.roulette-table .sector.hover {
    font-size: 22px;
    background: #1C9022 !important;
    color: #FBEC0F !important;
}

.roulette-table .green.hover {
    font-size: 68px;
    background: #3CC042 !important;
    color: #FBEC0F !important;
}

.roulette-table .red.hover {
    background: #C00 !important;
    color: #FBEC0F !important;
}

.roulette-table .black.hover {
    background: #000 !important;
    color: #FBEC0F !important;
}

/* orientation */
.roulette-table .vt {
    display: block;
    transform: rotate(270deg);
    white-space: nowrap;
}

/* controlls */
.roulette-table .controlls {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
}

.roulette-table .controlls .roulette-table-cell {
    /*opacity: 0.5;*/
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

/* zero */
.roulette-table .controlls .roulette-table-cell-zero {
    width: 75px;
    height: 152px;
    z-index: 0;
}

/* positions */
.roulette-table .controlls .h {
    width: 37px;
    height: 15px;
}

.roulette-table .controlls .v {
    width: 17px;
    height: 35px;
}

.roulette-table .controlls .c {
    width: 17px;
    height: 15px;
}

.roulette-table .controlls .m {
    width: 54px;
    height: 50px;
    margin-top: -7px;
    margin-left: -10px;
    z-index: 0;
}

.roulette-table .controlls .ms4 {
    width: 216px;
    height: 50px;
    margin-top: -7px;
    margin-left: -10px;
    z-index: 0;
}

.roulette-table .controlls .ms2 {
    width: 108px;
    height: 50px;
    margin-top: -7px;
    margin-left: -10px;
    z-index: 0;
}

/* rows */
.roulette-table .controlls .row1 .rh {
    top: -7px;
}

.roulette-table .controlls .row1 .rm {
    top: 8px;
}

.roulette-table .controlls .row2 .rh {
    top: 43px;
}

.roulette-table .controlls .row2 .rm {
    top: 58px;
}

.roulette-table .controlls .row3 .rh {
    top: 93px;
}

.roulette-table .controlls .row3 .rm {
    top: 108px;
}

.roulette-table .controlls .row3 .rb {
    top: 143px;
}

.roulette-table .controlls .row4 .rm {
    top: 158px;
}

.roulette-table .controlls .row5 .rm {
    top: 208px;
}

/* cols */
.roulette-table .controlls .col1 .cv {
    left: 68px;
}

.roulette-table .controlls .col1 .cm {
    left: 85px;
}

.roulette-table .controlls .col2 .cv {
    left: 122px;
}

.roulette-table .controlls .col2 .cm {
    left: 139px;
}

.roulette-table .controlls .col3 .cv {
    left: 176px;
}

.roulette-table .controlls .col3 .cm {
    left: 193px;
}

.roulette-table .controlls .col4 .cv {
    left: 230px;
}

.roulette-table .controlls .col4 .cm {
    left: 247px;
}

.roulette-table .controlls .col5 .cv {
    left: 284px;
}

.roulette-table .controlls .col5 .cm {
    left: 301px;
}

.roulette-table .controlls .col6 .cv {
    left: 338px;
}

.roulette-table .controlls .col6 .cm {
    left: 355px;
}

.roulette-table .controlls .col7 .cv {
    left: 392px;
}

.roulette-table .controlls .col7 .cm {
    left: 409px;
}

.roulette-table .controlls .col8 .cv {
    left: 446px;
}

.roulette-table .controlls .col8 .cm {
    left: 463px;
}

.roulette-table .controlls .col9 .cv {
    left: 500px;
}

.roulette-table .controlls .col9 .cm {
    left: 517px;
}

.roulette-table .controlls .col10 .cv {
    left: 554px;
}

.roulette-table .controlls .col10 .cm {
    left: 571px;
}

.roulette-table .controlls .col11 .cv {
    left: 608px;
}

.roulette-table .controlls .col11 .cm {
    left: 625px;
}

.roulette-table .controlls .col12 .cv {
    left: 662px;
}

.roulette-table .controlls .col12 .cm {
    left: 679px;
}

.roulette-table .controlls .col13 .cm {
    left: 733px;
}

/* others */
.hidden {
    display: none;
}
