.number:nth-child(1) {
    -webkit-transform: rotateZ(9.72972973deg);
    transform: rotateZ(9.72972973deg);
}
.number:nth-child(2) {
    -webkit-transform: rotateZ(19.45945946deg);
    transform: rotateZ(19.45945946deg);
}
.number:nth-child(3) {
    -webkit-transform: rotateZ(29.18918919deg);
    transform: rotateZ(29.18918919deg);
}
.number:nth-child(4) {
    -webkit-transform: rotateZ(38.91891892deg);
    transform: rotateZ(38.91891892deg);
}
.number:nth-child(5) {
    -webkit-transform: rotateZ(48.64864865deg);
    transform: rotateZ(48.64864865deg);
}
.number:nth-child(6) {
    -webkit-transform: rotateZ(58.37837838deg);
    transform: rotateZ(58.37837838deg);
}
.number:nth-child(7) {
    -webkit-transform: rotateZ(68.10810811deg);
    transform: rotateZ(68.10810811deg);
}
.number:nth-child(8) {
    -webkit-transform: rotateZ(77.83783784deg);
    transform: rotateZ(77.83783784deg);
}
.number:nth-child(9) {
    -webkit-transform: rotateZ(87.56756757deg);
    transform: rotateZ(87.56756757deg);
}
.number:nth-child(10) {
    -webkit-transform: rotateZ(97.2972973deg);
    transform: rotateZ(97.2972973deg);
}
.number:nth-child(11) {
    -webkit-transform: rotateZ(107.02702703deg);
    transform: rotateZ(107.02702703deg);
}
.number:nth-child(12) {
    -webkit-transform: rotateZ(116.75675676deg);
    transform: rotateZ(116.75675676deg);
}
.number:nth-child(13) {
    -webkit-transform: rotateZ(126.48648649deg);
    transform: rotateZ(126.48648649deg);
}
.number:nth-child(14) {
    -webkit-transform: rotateZ(136.21621622deg);
    transform: rotateZ(136.21621622deg);
}
.number:nth-child(15) {
    -webkit-transform: rotateZ(145.94594595deg);
    transform: rotateZ(145.94594595deg);
}
.number:nth-child(16) {
    -webkit-transform: rotateZ(155.67567568deg);
    transform: rotateZ(155.67567568deg);
}
.number:nth-child(17) {
    -webkit-transform: rotateZ(165.40540541deg);
    transform: rotateZ(165.40540541deg);
}
.number:nth-child(18) {
    -webkit-transform: rotateZ(175.13513514deg);
    transform: rotateZ(175.13513514deg);
}
.number:nth-child(19) {
    -webkit-transform: rotateZ(184.86486486deg);
    transform: rotateZ(184.86486486deg);
}
.number:nth-child(20) {
    -webkit-transform: rotateZ(194.59459459deg);
    transform: rotateZ(194.59459459deg);
}
.number:nth-child(21) {
    -webkit-transform: rotateZ(204.32432432deg);
    transform: rotateZ(204.32432432deg);
}
.number:nth-child(22) {
    -webkit-transform: rotateZ(214.05405405deg);
    transform: rotateZ(214.05405405deg);
}
.number:nth-child(23) {
    -webkit-transform: rotateZ(223.78378378deg);
    transform: rotateZ(223.78378378deg);
}
.number:nth-child(24) {
    -webkit-transform: rotateZ(233.51351351deg);
    transform: rotateZ(233.51351351deg);
}
.number:nth-child(25) {
    -webkit-transform: rotateZ(243.24324324deg);
    transform: rotateZ(243.24324324deg);
}
.number:nth-child(26) {
    -webkit-transform: rotateZ(252.97297297deg);
    transform: rotateZ(252.97297297deg);
}
.number:nth-child(27) {
    -webkit-transform: rotateZ(262.7027027deg);
    transform: rotateZ(262.7027027deg);
}
.number:nth-child(28) {
    -webkit-transform: rotateZ(272.43243243deg);
    transform: rotateZ(272.43243243deg);
}
.number:nth-child(29) {
    -webkit-transform: rotateZ(282.16216216deg);
    transform: rotateZ(282.16216216deg);
}
.number:nth-child(30) {
    -webkit-transform: rotateZ(291.89189189deg);
    transform: rotateZ(291.89189189deg);
}
.number:nth-child(31) {
    -webkit-transform: rotateZ(301.62162162deg);
    transform: rotateZ(301.62162162deg);
}
.number:nth-child(32) {
    -webkit-transform: rotateZ(311.35135135deg);
    transform: rotateZ(311.35135135deg);
}
.number:nth-child(33) {
    -webkit-transform: rotateZ(321.08108108deg);
    transform: rotateZ(321.08108108deg);
}
.number:nth-child(34) {
    -webkit-transform: rotateZ(330.81081081deg);
    transform: rotateZ(330.81081081deg);
}
.number:nth-child(35) {
    -webkit-transform: rotateZ(340.54054054deg);
    transform: rotateZ(340.54054054deg);
}
.number:nth-child(36) {
    -webkit-transform: rotateZ(350.27027027deg);
    transform: rotateZ(350.27027027deg);
}

.roulette {
    width: 374px;
    float: left;
    margin: 30px 0 0 35px;
}
.plate {
    background-color: gray;
    width: 350px;
    height: 350px;
    margin: 12px;
    border-radius: 50%;
    position: relative;
    -webkit-animation: rotate 24s infinite linear;
    animation: rotate 24s infinite linear;
}
.plate:after,
.plate:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}
.plate:after {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 6px solid gold;
    box-shadow: inset 0px 0px 0px 2px #b39700, 0px 0px 0px 2px #ffeb80;
}
.plate:before {
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid silver;
    box-shadow: inset 0px 0px 0px 2px #808080;
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    z-index: 1;
}
.number {
    width: 32px;
    height: 175px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - (32px/2));
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-color: transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 175px solid black;
    box-sizing: border-box;
}
.number:nth-child(odd) {
    border-top-color: red;
}
.number:nth-child(37) {
    border-top-color: green;
}
.pit {
    color: #fff;
    padding-top: 12px;
    width: 32px;
    display: inline-block;
    font-size: 12px;
    -webkit-transform: scale(1, 1.8);
    transform: scale(1, 1.8);
    position: absolute;
    top: -175px;
    left: -16px;
}
.inner {
    display: block;
    height: 350px;
    width: 350px;
    position: relative;
}
.inner:after,
.inner:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}
.inner:after {
    z-index: 3;
    top: 24%;
    right: 24%;
    bottom: 24%;
    left: 24%;
    background-color: #4d4d4d;
    border: 3px solid #808080;
}
.inner:before {
    top: 24%;
    bottom: 21%;
    left: 24%;
    right: 22%;
    content: '';
    color: #fff;
    font-size: 60px;
    z-index: 5;
    border-radius: 0;
}
.inner[data-spinto='1']:before {
    -webkit-transform: rotateZ(-2602deg);
    transform: rotateZ(-2602deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='2']:before {
    -webkit-transform: rotateZ(-2774deg);
    transform: rotateZ(-2774deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='3']:before {
    -webkit-transform: rotateZ(-2850deg);
    transform: rotateZ(-2850deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='4']:before {
    -webkit-transform: rotateZ(-2793deg);
    transform: rotateZ(-2793deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='5']:before {
    -webkit-transform: rotateZ(-2642deg);
    transform: rotateZ(-2642deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='6']:before {
    -webkit-transform: rotateZ(-2734deg);
    transform: rotateZ(-2734deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='7']:before {
    -webkit-transform: rotateZ(-2526deg);
    transform: rotateZ(-2526deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='8']:before {
    -webkit-transform: rotateZ(-2673deg);
    transform: rotateZ(-2673deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='9']:before {
    -webkit-transform: rotateZ(-2564deg);
    transform: rotateZ(-2564deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='10']:before {
    -webkit-transform: rotateZ(-2652deg);
    transform: rotateZ(-2652deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='11']:before {
    -webkit-transform: rotateZ(-2693deg);
    transform: rotateZ(-2693deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='12']:before {
    -webkit-transform: rotateZ(-2868deg);
    transform: rotateZ(-2868deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='13']:before {
    -webkit-transform: rotateZ(-2714deg);
    transform: rotateZ(-2714deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='14']:before {
    -webkit-transform: rotateZ(-2582deg);
    transform: rotateZ(-2582deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='15']:before {
    -webkit-transform: rotateZ(-2813deg);
    transform: rotateZ(-2813deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='16']:before {
    -webkit-transform: rotateZ(-2622deg);
    transform: rotateZ(-2622deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='17']:before {
    -webkit-transform: rotateZ(-2755deg);
    transform: rotateZ(-2755deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='18']:before {
    -webkit-transform: rotateZ(-2545deg);
    transform: rotateZ(-2545deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='19']:before {
    -webkit-transform: rotateZ(-2803deg);
    transform: rotateZ(-2803deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='20']:before {
    -webkit-transform: rotateZ(-2592deg);
    transform: rotateZ(-2592deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='21']:before {
    -webkit-transform: rotateZ(-2784deg);
    transform: rotateZ(-2784deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='22']:before {
    -webkit-transform: rotateZ(-2554deg);
    transform: rotateZ(-2554deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='23']:before {
    -webkit-transform: rotateZ(-2662deg);
    transform: rotateZ(-2662deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='24']:before {
    -webkit-transform: rotateZ(-2632deg);
    transform: rotateZ(-2632deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='25']:before {
    -webkit-transform: rotateZ(-2764deg);
    transform: rotateZ(-2764deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='26']:before {
    -webkit-transform: rotateZ(-2840deg);
    transform: rotateZ(-2840deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='27']:before {
    -webkit-transform: rotateZ(-2724deg);
    transform: rotateZ(-2724deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='28']:before {
    -webkit-transform: rotateZ(-2877deg);
    transform: rotateZ(-2877deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='29']:before {
    -webkit-transform: rotateZ(-2535deg);
    transform: rotateZ(-2535deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='30']:before {
    -webkit-transform: rotateZ(-2684deg);
    transform: rotateZ(-2684deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='31']:before {
    -webkit-transform: rotateZ(-2573deg);
    transform: rotateZ(-2573deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='32']:before {
    -webkit-transform: rotateZ(-2822deg);
    transform: rotateZ(-2822deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='33']:before {
    -webkit-transform: rotateZ(-2612deg);
    transform: rotateZ(-2612deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='34']:before {
    -webkit-transform: rotateZ(-2745deg);
    transform: rotateZ(-2745deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='35']:before {
    -webkit-transform: rotateZ(-2499deg);
    transform: rotateZ(-2499deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='36']:before {
    -webkit-transform: rotateZ(-2703deg);
    transform: rotateZ(-2703deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner[data-spinto='0']:before {
    -webkit-transform: rotateZ(-2831deg);
    transform: rotateZ(-2831deg);
    transition: -webkit-transform 9s ease-out;
    transition: transform 9s ease-out;
    transition: transform 9s ease-out, -webkit-transform 9s ease-out;
    content: '\2022';
}
.inner.rest:before {
    transition: top 0.5s ease-in, right 0.5s ease-in, bottom 0.5s ease-in, left 0.5s ease-in;
    top: 25%;
    right: 25%;
    bottom: 24%;
    left: 25%;
}
.btn_bet {
    background: green;
    border: 1px solid #000000;
    border-top-color: #00b300;
    border-left-color: #00b300;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 15px;
    width: 175px;
    padding: 12px;
    margin: 12px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}
.btn_bet .btn_bet-label {
    padding: 12px;
    white-space: nowrap;
}
.btn_bet.btn_bet-reset {
    background: darkgreen;
    border: 1px solid #000000;
    border-top-color: #009700;
    border-left-color: #009700;
}
.btn_bet.disabled {
    opacity: 0.2;
    transition: opacity 0.24s linear;
    cursor: not-allowed;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
.data {
    display: block;
    position: absolute;
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    border-radius: 50%;
    animation: rotate 24s reverse linear infinite;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    z-index: 100;
}
.data .data-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: -webkit-transform 0.72s;
    transition: transform 0.72s;
    transition: transform 0.72s, -webkit-transform 0.72s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.data.reveal .data-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.data .mask,
.data .result {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.data .mask {
    color: #fff;
    font-size: 24px;
    margin: auto;
    line-height: 1.4;
    padding-top: 36px;
}
.data .result {
    background-color: green;
    color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    align-items: center;
    color: #fff;
}
.data .result-number {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 12px;
}
.data .result-color {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 1;
}
.previous-results {
    max-width: 350px;
    margin: 24px 12px;
}
.previous-list {
    -webkit-perspective: 2000;
    perspective: 2000;
}
.previous-result {
    display: flex;
    margin: 1px;
    padding: 12px;
    color: #fff;
}
.previous-result:first-child {
    -webkit-animation: flipin 0.48s ease-out;
    animation: flipin 0.48s ease-out;
}
.previous-result .previous-number {
    flex: 1;
}
.color-green {
    background-color: green;
}
.color-black {
    background-color: black;
}
.color-red {
    background-color: red;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
@-webkit-keyframes flipin {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}
@keyframes flipin {
    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}