body {
    background-color: #4B4F4F;
}
.navbar-dark {
    background-image: linear-gradient(to bottom right, red, darkorange);
}
.navbar-brand {
    color: floralwhite;
    font-weight: bold;
    opacity: 0.8;
    font-size: 25px;
}
.navbar-brand:hover {
    opacity: 1;
}
.nav-link {
    font-size: 20px;
}
.nav-link:hover {
    color: floralwhite !important;
}
.dropdown-menu {
    background-image: linear-gradient(to bottom right, red, darkorange);
}
.dropdown-item, .dropdown-divider {
    color: floralwhite;
}
.dropdown-item:hover {
    background-color: floralwhite;
    opacity: 1;
    font-weight: bold;
}
.introCard {
    background-image: linear-gradient(to bottom right, #3E0862, #0BD0A9);
    color: #E0FFFF;
    box-shadow: 0 5px 15px floralwhite;
    transform: scale(1.03);
}
.introCard:hover {
    transition: transform 300ms;
    box-shadow: 0 5px 15px #0ff;
}
.card-header {
    background-image: linear-gradient(to bottom right, red, orange);
    color: floralwhite;
    font-weight: bold;
    text-align: center;
}
.pokeCard {
    
}
