body {
    background-color: #4B4F4F;
}
.navbar-dark {
    background-image: linear-gradient(to bottom right, red, darkorange);
}
.navbar-brand {
    color: floralwhite;
    font-weight: bold;
    opacity: 0.8;
    font-size: 25px;
}
.navbar-brand:hover {
    opacity: 1;
}
.nav-link {
    font-size: 20px;
}
.nav-link:hover {
    color: floralwhite !important;
}
.dropdown-menu {
    background-image: linear-gradient(to bottom right, red, darkorange);
}
.dropdown-item, .dropdown-divider {
    color: floralwhite;
}
.dropdown-item:hover {
    background-color: floralwhite;
    opacity: 1;
    font-weight: bold;
}
.introCard {
    background-image: linear-gradient(to bottom right, #3E0862, #0BD0A9);
    color: #E0FFFF;
    box-shadow: 0 5px 15px floralwhite;
    transform: scale(1.03);
}
.introCard:hover {
    transition: transform 300ms;
    box-shadow: 0 5px 15px #0ff;
}
.card-header {
    background-image: linear-gradient(to bottom right, red, orange);
    color: floralwhite;
    font-weight: bold;
    text-align: center;
}
.pokeCardElectric {
    background-image: linear-gradient(to bottom right, yellow, darkorange);
}
.pokeCardGrass {
    background-image: linear-gradient(to bottom right, lightgreen, darkgreen);
}
.pokeCardFire {
    background-image: linear-gradient(to bottom right, red, darkorange);
}
.pokeCardWater {
    background-image: linear-gradient(to bottom right, purple, darkblue);
}
.pokeImg {
    width: 70px;
    height: 70px;
}
@media (max-width: 992px) {
    #pichu {
        padding-right: 20px;
    }
    #pikachu {
        padding-right: 20px;
    }
    #bulbasaur {
        padding-right: 20px;
    }
    #ivysaur {
        padding-right: 20px;
    }
    #venusaur {
        padding-right: 20px;
    }
    #charmander {
        padding-right: 20px;
    }
    #charmeleon {
        padding-right: 10px;
    }
    #charizard {
        padding-right: 20px;
    }
    #squirtle {
        padding-right: 20px;
    }
    #wartortle {
        padding-right: 20px;
    }
    #blastoise {
        padding-right: 20px;
    }
    #chikorita {
        padding-right: 10px;
    }
    #bayleef {
        padding-right: 20px;
    }
    #meganium {
        padding-right: 20px;
    }
    #cyndaquil {
        padding-right: 20px;
    }
    #quilava {
        padding-right: 20px;
    }
    #typhlosion {
        padding-right: 20px;
    }
    #totodile {
        padding-right: 20px;
    }
    #croconaw {
        padding-right: 20px;
    }
    #feraligatr {
        padding-right: 20px;
    }
    #treecko {
        padding-right: 20px;
    }
    #grovyle {
        padding-right: 20px;
    }
    #sceptile {
        padding-right: 20px;
    }
    #torchic {
        padding-right: 20px;
    }
    #combusken {
        padding-right: 20px;
    }
    #blaziken {
        padding-right: 20px;
    }
    #mudkip {
        padding-right: 20px;
    }
    #marshtomp {
        padding-right: 20px;
    }
    #swampert {
        padding-right: 20px;
    }
    #turtwig {
        padding-right: 20px;
    }
    #grotle {
        padding-right: 20px;
    }
    #torterra {
        padding-right: 20px;
    }
    #chimchar {
        padding-right: 20px;
    }
    #monferno {
        padding-right: 20px;
    }
    #infernape {
        padding-right: 20px;
    }
    #piplup {
        padding-right: 20px;
    }
    #prinplup {
        padding-right: 20px;
    }
    #empoleon {
        padding-right: 20px;
    }
    #snivy {
        padding-right: 20px;
    }
    #servine {
        padding-right: 20px;
    }
    #serperior {
        padding-right: 20px;
    }
    #tepig {
        padding-right: 20px;
    }
    #pignite {
        padding-right: 20px;
    }
    #emboar {
        padding-right: 20px;
    }
    #oshawott {
        padding-right: 20px;
    }
    #dewott {
        padding-right: 10px;
    }
    #samurott {
        padding-right: 20px;
    }
    #chespin {
        padding-right: 20px;
    }
    #quilladin {
        padding-right: 20px;
    }
    #chesnaught {
        padding-right: 10px;
    }
    #fennekin {
        padding-right: 20px;
    }
    #braixen {
        padding-right: 20px;
    }
    #delphox {
        padding-right: 20px;
    }
    #froakie {
        padding-right: 20px;
    }
    #frogadier {
        padding-right: 20px;
    }
    #greninja {
        padding-right: 20px;
    }
    #rowlet {
        padding-right: 20px;
    }
    #dartrix {
        padding-right: 20px;
    }
    #decidueye {
        padding-right: 20px;
    }
    #litten {
        padding-right: 20px;
    }
    #torracat {
        padding-right: 20px;
    }
    #incineroar {
        padding-right: 10px;
    }
    #popplio {
        padding-right: 20px;
    }
    #brionne {
        padding-right: 20px;
    }
    #primarina {
        padding-right: 20px;
    }
}
@media (min-width: 992px) {
    .pokeImg {
        width: 150px;
        height: 150px;
    }
    #raichu {
        width: 180px;
        padding-left: 25px;
    }
    #venusaur {
        width: 160px;
    }
    #chesnaught {
        width: 160px;
    }
}
